html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


:root {

    /* css variables for global use */
    /* need to change the values for all vars */
    --col-primary: #00bcd4;
    --col-secondary: #eceff1; 
    --col-tertiary: #eceff1;
    --col-primary-dark: #0097a7;
    --col-primary-light: #b3e5fc;

    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Roboto', sans-serif;

    --font-size-primary: 1.6rem;
    --font-size-secondary: 1.4rem;

    --font-weight-primary: 400;
    --font-weight-secondary: 400;

    --font-color-primary: #212121;
    --font-color-secondary: #757575;


}